# Redirect visitors from HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Index config
DirectoryIndex index.html README.html

# Legacy redirects
Redirect permanent /builds.html                 https://tomee.apache.org/download.html
Redirect permanent /tomcat.html                 https://tomee.apache.org/apache-tomee.html
Redirect permanent /3.0/tomcat.html             https://tomee.apache.org/apache-tomee.html
Redirect permanent /3.0/apache-tomee.html       https://tomee.apache.org/apache-tomee.html
Redirect permanent /3.0/tomee.html              https://tomee.apache.org/apache-tomee.html
Redirect permanent /download-ng.html            https://tomee.apache.org/download.html
Redirect permanent /download/index.html         https://tomee.apache.org/download.html
Redirect permanent /downloads.html              https://tomee.apache.org/download.html
Redirect permanent /3.0/index.html              https://tomee.apache.org/documentation.html
Redirect permanent /design.html                 https://tomee.apache.org/dev/design.html
Redirect permanent /design_appserver.html       https://tomee.apache.org/dev/design-application-server.html
Redirect permanent /design_assembler.html       https://tomee.apache.org/dev/design-assembler.html
Redirect permanent /design_bmpcontainer.html    https://tomee.apache.org/dev/design-bmp-entitybean-container.html
Redirect permanent /design_classicassembler.html        https://tomee.apache.org/dev/design-classic-assembler.html
Redirect permanent /design_cmpcontainer.html    https://tomee.apache.org/dev/design-cmp-entitybean-container.html
Redirect permanent /design_configfactory.html   https://tomee.apache.org/dev/design-configuration-factory.html
Redirect permanent /design_container.html       https://tomee.apache.org/dev/design-container.html
Redirect permanent /design_intravm.html         https://tomee.apache.org/dev/design-local-server.html
Redirect permanent /design_novaconfig.html      https://tomee.apache.org/dev/design-nova-configuration-factory.html
Redirect permanent /design_openejb.html         https://tomee.apache.org/dev/design.html
Redirect permanent /design_rafpassivator.html   https://tomee.apache.org/dev/design-random-file-passivator.html
Redirect permanent /design_remoteserver.html    https://tomee.apache.org/dev/design-remote-server.html
Redirect permanent /design_resmanager.html      https://tomee.apache.org/dev/design-resource-manager.html
Redirect permanent /design_secservice.html      https://tomee.apache.org/dev/design-security-service.html
Redirect permanent /design_simplepassivator.html        https://tomee.apache.org/dev/design-simple-passivator.html
Redirect permanent /design_stfulcontainer.html  https://tomee.apache.org/dev/design-stateful-sessionbean-container.html
Redirect permanent /design_stfulpassivator.html https://tomee.apache.org/dev/design-passivation-strategy.html
Redirect permanent /design_stlesscontainer.html https://tomee.apache.org/dev/design-stateless-sessionbean-container.html
Redirect permanent /design_txservice.html       https://tomee.apache.org/dev/design-transaction-service.html
Redirect permanent /embedded-and-remotable.html https://tomee.apache.org/3.0/embedded-and-remotable.html

Redirect permanent /3.0/apache-tomee.html https://tomee.apache.org/apache-tomee.html
Redirect permanent /3.0/jpa-concepts.html https://tomee.apache.org/jpa-concepts.html


Redirect permanent /3.0/injection-of-entitymanager-example.html https://tomee.apache.org/examples-trunk/injection-of-entitymanager/README.html
Redirect permanent /3.0/simple-stateless-example.html           https://tomee.apache.org/examples-trunk/simple-stateless/README.html
Redirect permanent /3.0/stateless-session-beans.html            https://tomee.apache.org/examples-trunk/simple-stateless/README.html
Redirect permanent /3.0/injection-of-other-ejbs-example.html    https://tomee.apache.org/examples-trunk/injection-of-ejbs/README.html
Redirect permanent /3.0/simple-stateful-example.html            https://tomee.apache.org/examples-trunk/simple-stateful/README.html
Redirect permanent /3.0/testing-transactions-example.html       https://tomee.apache.org/examples-trunk/testing-transactions/README.html
Redirect permanent /3.0/injection-of-datasource-example.html    https://tomee.apache.org/examples-trunk/injection-of-datasource/README.html
Redirect permanent /3.0/injection-of-env-entry-example.html     https://tomee.apache.org/examples-trunk/injection-of-env-entry/README.html
Redirect permanent /3.0/ejb-21-compatibility-example.html       https://tomee.apache.org/examples-trunk/component-interfaces/README.html
Redirect permanent /3.0/testing-security-example.html           https://tomee.apache.org/examples-trunk/testing-security/README.html
Redirect permanent /3.0/lookup-of-other-ejbs-example.html       https://tomee.apache.org/examples-trunk/lookup-of-ejbs/README.html
Redirect permanent /3.0/embedded-and-remotable.html             https://tomee.apache.org/examples-trunk/telephone-stateful/README.html
Redirect permanent /3.0/unit-testing-transactions.html          https://tomee.apache.org/examples-trunk/testing-transactions/README.html
Redirect permanent /3.0/singleton-example.html                  https://tomee.apache.org/examples-trunk/simple-singleton/README.html
Redirect permanent /3.0/interceptor-example.html                https://tomee.apache.org/examples-trunk/interceptors/README.html


Redirect permanent /3.0/transaction-annotations.html https://tomee.apache.org/transaction-annotations.html
Redirect permanent /3.0/index.html https://tomee.apache.org/index.html
Redirect permanent /3.0/jndi-names.html https://tomee.apache.org/jndi-names.html
Redirect permanent /3.0/openjpa.html https://tomee.apache.org/openjpa.html
Redirect permanent /3.0/spring-ejb-and-jpa.html https://tomee.apache.org/spring-ejb-and-jpa.html
Redirect permanent /3.0/configuring-persistenceunits-in-tests.html https://tomee.apache.org/configuring-persistenceunits-in-tests.html
Redirect permanent /3.0/persistence-context.html https://tomee.apache.org/persistence-context.html
Redirect permanent /3.0/hibernate.html https://tomee.apache.org/hibernate.html
Redirect permanent /3.0/tomcat.html https://tomee.apache.org/tomcat.html
Redirect permanent /3.0/ejb-local-ref.html https://tomee.apache.org/ejb-local-ref.html
Redirect permanent /3.0/ejb-refs.html https://tomee.apache.org/ejb-refs.html
Redirect permanent /3.0/security-annotations.html https://tomee.apache.org/security-annotations.html
Redirect permanent /3.0/configuring-datasources.html https://tomee.apache.org/configuring-datasources.html
Redirect permanent /3.0/persistence-unit-ref.html https://tomee.apache.org/persistence-unit-ref.html
Redirect permanent /3.0/resource-injection.html https://tomee.apache.org/resource-injection.html
Redirect permanent /3.0/resource-ref-for-datasource.html https://tomee.apache.org/resource-ref-for-datasource.html
Redirect permanent /3.0/javaagent.html https://tomee.apache.org/javaagent.html
Redirect permanent /3.0/basics-getting-things.html https://tomee.apache.org/basics-getting-things.html
Redirect permanent /3.0/ejb-30-specification.html https://tomee.apache.org/ejb-30-specification.html
Redirect permanent /3.0/local-client-injection.html https://tomee.apache.org/local-client-injection.html
Redirect permanent /3.0/deploy-tool.html https://tomee.apache.org/deploy-tool.html
Redirect permanent /3.0/examples.html https://tomee.apache.org/examples.html
Redirect permanent /3.0/embedded-configuration.html https://tomee.apache.org/embedded-configuration.html
Redirect permanent /3.0/javaagent-with-maven-surefire.html https://tomee.apache.org/javaagent-with-maven-surefire.html
Redirect permanent /3.0/tomcat-detailed-instructions.html https://tomee.apache.org/tomcat-detailed-instructions.html
Redirect permanent /3.0/jms-resources-and-mdb-container.html https://tomee.apache.org/jms-resources-and-mdb-container.html
Redirect permanent /3.0/spring.html https://tomee.apache.org/spring.html
Redirect permanent /3.0/startup.html https://tomee.apache.org/startup.html
Redirect permanent /3.0/service-locator.html https://tomee.apache.org/service-locator.html
Redirect permanent /3.0/singleton-beans.html https://tomee.apache.org/singleton-beans.html
Redirect permanent /3.0/containers-and-resources.html https://tomee.apache.org/containers-and-resources.html
Redirect permanent /3.0/tomcat-ejb-refs.html https://tomee.apache.org/tomcat-ejb-refs.html
Redirect permanent /3.0/application-discovery-via-the-classpath.html https://tomee.apache.org/application-discovery-via-the-classpath.html
Redirect permanent /3.0/failover.html https://tomee.apache.org/ejb-failover.html
Redirect permanent /3.0/clients.html https://tomee.apache.org/clients.html
Redirect permanent /3.0/ejb-jpa-jsf-jax-rs.html https://tomee.apache.org/ejb-jpa-jsf-jax-rs.html
Redirect permanent /3.0/common-persistenceprovider-properties.html https://tomee.apache.org/common-persistenceprovider-properties.html
Redirect permanent /3.0/jpa-usage.html https://tomee.apache.org/jpa-usage.html
Redirect permanent /3.0/ejb-ref.html https://tomee.apache.org/ejb-ref.html
Redirect permanent /3.0/alternate-descriptors.html https://tomee.apache.org/alternate-descriptors.html
Redirect permanent /3.0/deployments.html https://tomee.apache.org/deployments.html
Redirect permanent /3.0/constructor-injection.html https://tomee.apache.org/constructor-injection.html
Redirect permanent /3.0/databases.html https://tomee.apache.org/databases.html
Redirect permanent /3.0/properties-tool.html https://tomee.apache.org/properties-tool.html
Redirect permanent /3.0/space-index.html https://tomee.apache.org/space-index.html
Redirect permanent /3.0/callbacks.html https://tomee.apache.org/callbacks.html
Redirect permanent /3.0/custom-injection.html https://tomee.apache.org/custom-injection.html
Redirect permanent /3.0/dynamic-datasource.html https://tomee.apache.org/dynamic-datasource.html
Redirect permanent /3.0/basics-security.html https://tomee.apache.org/basics-security.html
Redirect permanent /3.0/datasource-password-encryption.html https://tomee.apache.org/datasource-password-encryption.html
Redirect permanent /3.0/helloworld-weblogic.html https://tomee.apache.org/helloworld-weblogic.html
Redirect permanent /3.0/mdb-container.html https://tomee.apache.org/mdb-container.html
Redirect permanent /3.0/system-properties.html https://tomee.apache.org/system-properties.html
Redirect permanent /3.0/configuring-logging-in-tests.html https://tomee.apache.org/configuring-logging-in-tests.html
Redirect permanent /3.0/spring-and-openejb-30.html https://tomee.apache.org/spring-and-openejb-30.html
Redirect permanent /3.0/configuring-datasources-in-tests.html https://tomee.apache.org/configuring-datasources-in-tests.html
Redirect permanent /3.0/tomcat-installation.html https://tomee.apache.org/tomcat-installation.html
Redirect permanent /3.0/webapp-based-ejbs.html https://tomee.apache.org/webapp-based-ejbs.html
Redirect permanent /3.0/openejbxml.html https://tomee.apache.org/openejbxml.html
Redirect permanent /3.0/security.html https://tomee.apache.org/security.html
Redirect permanent /3.0/understanding-callbacks.html https://tomee.apache.org/understanding-callbacks.html
Redirect permanent /3.0/annotations-xml-and-defaults.html https://tomee.apache.org/annotations-xml-and-defaults.html
Redirect permanent /3.0/manual-installation.html https://tomee.apache.org/manual-installation.html
Redirect permanent /3.0/common-datasource-configurations.html https://tomee.apache.org/common-datasource-configurations.html
Redirect permanent /3.0/getting-started.html https://tomee.apache.org/getting-started.html
Redirect permanent /3.0/configuring-javamail.html https://tomee.apache.org/configuring-javamail.html
Redirect permanent /3.0/restful-web-service-with-openejb-jersey-junit-maven-mysql-and-tomcat.html https://tomee.apache.org/restful-web-service-with-openejb-jersey-junit-maven-mysql-and-tomcat.html
Redirect permanent /3.0/testcase-with-testbean-inner-class.html https://tomee.apache.org/testcase-with-testbean-inner-class.html
Redirect permanent /3.0/basics-transactions.html https://tomee.apache.org/basics-transactions.html
Redirect permanent /3.0/design-application-server.html https://tomee.apache.org/design-application-server.html
Redirect permanent /3.0/understanding-the-directory-layout.html https://tomee.apache.org/understanding-the-directory-layout.html
Redirect permanent /3.0/design-container.html https://tomee.apache.org/design-container.html
Redirect permanent /3.0/openejb-per-tomcat-installation.html https://tomee.apache.org/openejb-per-tomcat-installation.html
Redirect permanent /3.0/client-server-transports.html https://tomee.apache.org/client-server-transports.html
Redirect permanent /3.0/property-overriding.html https://tomee.apache.org/property-overriding.html
Redirect permanent /3.0/configuring-containers-in-tests.html https://tomee.apache.org/configuring-containers-in-tests.html
Redirect permanent /3.0/design-assembler.html https://tomee.apache.org/design-assembler.html
Redirect permanent /3.0/design-configuration-factory.html https://tomee.apache.org/design-configuration-factory.html
Redirect permanent /3.0/ejb-servlet.html https://tomee.apache.org/ejb-servlet.html
Redirect permanent /3.0/collapsed-ear-on-linux.html https://tomee.apache.org/collapsed-ear-on-linux.html
Redirect permanent /3.0/app-clients-and-jndi.html https://tomee.apache.org/app-clients-and-jndi.html
Redirect permanent /3.0/built-in-type-converters.html https://tomee.apache.org/built-in-type-converters.html
Redirect permanent /3.0/configuring-durations.html https://tomee.apache.org/configuring-durations.html
Redirect permanent /3.0/design-classic-assembler.html https://tomee.apache.org/design-classic-assembler.html
Redirect permanent /3.0/design-random-access-file-passivater.html https://tomee.apache.org/design-random-access-file-passivater.html
Redirect permanent /3.0/users-guide.html https://tomee.apache.org/users-guide.html
Redirect permanent /3.0/configuration-properties.html https://tomee.apache.org/configuration-properties.html
Redirect permanent /3.0/design-cmp-entitybean-container.html https://tomee.apache.org/design-cmp-entitybean-container.html
Redirect permanent /3.0/design-passivation-strategy.html https://tomee.apache.org/design-passivation-strategy.html
Redirect permanent /3.0/design-transaction-service.html https://tomee.apache.org/design-transaction-service.html
Redirect permanent /3.0/hello-world.html https://tomee.apache.org/hello-world.html
Redirect permanent /3.0/online-javadocs.html https://tomee.apache.org/online-javadocs.html
Redirect permanent /3.0/design-bmp-entitybean-container.html https://tomee.apache.org/design-bmp-entitybean-container.html
Redirect permanent /3.0/design-nova-configuration-factory.html https://tomee.apache.org/design-nova-configuration-factory.html
Redirect permanent /3.0/design-resource-manager.html https://tomee.apache.org/design-resource-manager.html
Redirect permanent /3.0/design-simple-passivater.html https://tomee.apache.org/design-simple-passivater.html
Redirect permanent /3.0/design-stateless-sessionbean-container.html https://tomee.apache.org/design-stateless-sessionbean-container.html
Redirect permanent /3.0/design.html https://tomee.apache.org/design.html
Redirect permanent /3.0/documentation.html https://tomee.apache.org/documentation.html
Redirect permanent /3.0/embedding.html https://tomee.apache.org/embedding.html
Redirect permanent /3.0/introduction-to-the-command-line-tools.html https://tomee.apache.org/introduction-to-the-command-line-tools.html